<%=stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css'%>
<%=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js','http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'%>
<style>
  .ui-widget{
    font-size: 0.7em;
  }
  label, input { display:block; }
  .text{margin-bottom: 15px;}
  #statement .info{
    font-size: 0.5em;
  }  
  #statement .price{
    font-size: 1.25em;
  }
  fieldset { padding:0; border:0; margin-top:25px; }
</style>
<script>
  Pipes = {existing:{}};
  $(function(){
    Pipes.existing.dialog = $('#dialog').dialog({
      height: 325,
      width: 400,
      modal: true,
      title: 'Verify',
      autoShow: false,
      buttons: {
        'Confirm' : function(){
          $.ajax({
            url: '<%=existing_path(params[:did])%>',
            data: {email: $('#email').val(), number: $('#user_phone').val()},
            type: 'POST',
            error: function(error){
              $('#message').text("Unable to Verify");
              
            },
            success: function(data,status){
              $("#statement").html(data);
              Pipes.existing.dialog.dialog('close');
            }
          });
          
        }
      }
    });
    <%- unless current_user -%>
    Pipes.existing.dialog.dialog('open');
    <%- end -%>
  });
</script>
<%- if current_user -%>
<%=render(partial: 'existing_options')%>
<%- else -%>
<h2 id="statement">Need to verify this is your Pipes Number</h2>
<%- end -%>

<div id="dialog" title="Create new user">
  <p id="message" class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all" maxlength="100">
    <label for="user_phone">Your Phone Number</label>
    <input type="text" name="user_phone" id="user_phone" class="text ui-widget-content ui-corner-all" maxlength="20">
    
  </fieldset>
  </form>
</div>