<%form_for :user_phone, url: { action: 'create'} do |f|-%>
<label for="user_phone_number">Your Phone Number</label>
<%=f.text_field :number, maxlength: 20, disabled: flash[:notice] ? true : false%>
<br>
<label for="user_phone_state">State</label>
<%=f.select :state,[['Maryland','md']],{},{disabled: flash[:notice] ? true : false}%>
<br>
<label for="user_phone_city">City</label>
<%=f.select :city,['Annapolis','Baltimore'],{},{ disabled: flash[:notice] ? true : false}%>
<br>
<br>
<%=f.submit "Request Number", disabled: flash[:notice] ? true : false%>
<%end-%>

<%if RAILS_ENV=='production' -%>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="P79LWMD6PLV58">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<%-else -%>
TEST

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LZKTW8ZBBAVMS">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<%-end-%>
