<%form_for :user_phone, url: { action: 'create'} do |f|-%>
<label for="user_phone_number">Your Phone Number</label>
<%=f.text_field :number, maxlength: 20, disabled: flash[:notice] ? true : false%>
<br>
<label for="user_phone_state">State</label>
<%=f.select :state,[['Maryland','md']],{},{disabled: flash[:notice] ? true : false}%>
<br>
<label for="user_phone_city">City</label>
<%=f.select :city,['Annapolis','Baltimore'],{},{ disabled: flash[:notice] ? true : false}%>
<br>
<br>
<%=f.submit "Request Number", disabled: flash[:notice] ? true : false%>
<%end-%>