
<p>Your temporary number has been created!</p>
<div class="info">
  <p>Your Temporary Number is <%=@did.phone_number%> </p>
  <p>Remember you have 30 mins of total talk time, for 3 weeks...Enjoy!</p>
</div>

