<p>Your Pipes Number has been created!</p>
<div class="info">
  <p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com/us to view details of this transaction.</p>
  <p>You should expect an email any minute now with your Pipes Number.</p>
  <p>Remember you have <b>20 mins of total talk time, for 3 weeks</b>...Enjoy!</p>
</div>

