
<p>Your Pipes Number has been created!</p>
<div class="info">
  <p>You should expect an email any minute now with the number.</p>
  <p>Remember you have 20 mins of total talk time, for 3 weeks...Enjoy!</p>
</div>

