body, p, div, h1, h2, h3, span{
  font-family:"VAG Rundschrift Light"; 
  font-size-adjust:0.504; 
  font-weight:200; 
  font-style:normal;
}
body { 
  font-size: 1.5em;
  color: black;
}
.container{
  min-width: 300px;
  max-width:1024px;
  min-height:300px;
  max-height: 900px;
  margin: 50px;
  text-align: center;
}
.container .img{

}
.content{
  position: relative;
  min-height: 400px;
  padding: 1em;
  font-size: 1em;
  text-align: center;
}
.legal{
  position: relative;
  min-height: 400px;
  padding: 1em;
  font-size: 1em;
  text-align: center;
}
.legal p{
  font-size: 0.8em;
  text-align: justify;	
}
.legal p b{
  font-weight: bold;
}

.content form{
  position: inherit;
  font-size: 0.8em;
  text-align:left;
}
.content form input{
  position: inherit;
  font-size: 0.8em;
  text-align:left;
}

div.footer{
  font-size: 1em;
  line-height: 0.75em;
  padding: 0 10px 5px;
  color: #ffffff;
  text-align:right;
  background-color: #1977b0;
	/*border: 4px solid #fffeff;*/
 -webkit-border-radius: 10px 10px 10px 10px;	
}
.footer .links{
  text-align: right;
  float: left;
}
.footer a {
  font-size: 0.6em;
  padding-right: 10px;
  color: #fffeff;
  
}
.footer .copyright{
  font-size: 0.7em;
}
.errorExplanation{
	color:  red;
}
.info{
	font-size: 0.8em;
	position: relative;
	text-align: justify;
}
div.error{
	color: #ff1713;
	text-align: left;
	list-style-type: square;
	font-size: .8em;
	list-style-position: inside;
}
#email{
	width: 20em;
}
#user_phone{
	width: 15em;
}
h3{
	font-size: 0.9em;
	color: #1977b0;
	font-style: italic;
}
@media screen and (max-device-width: 480px){
	body{
	  -webkit-text-size-adjust:none;
	}
	.container{
	  text-align: center;
	  margin: 0px;
	}
}
