body, p, div, h1, h2, h3, span, ui{
  font-family:"VAG Rundschrift Light", arial; 
  font-size-adjust:0.504; 
  /*font-weight:200;*/ 
  font-style:normal;
}
body { 
  font-size: 1.5em;
  color: #325c93;
}
h3{
	font-size: 0.9em;
}
#tagline{
	font-size: 0.9em;
	position: relative;
	left: 135px;
	top: -55px;
}
.container{
  width: 700px;
  margin: 50px;
}
.container img{
	width: 275px;
}
.content{
  position: relative;
  min-height: 400px;
  font-size: 1em;
  /*text-align: center;*/
}
span.pipes-orange{
	color: #D8742D;
}
#request_number{
	float: right;
	width: 240px;
	height:200px;
	padding: 15px;
	font-size: 0.7em;
	color: #ffffff;
	background-color: #1977b0;
	/*border: 3px solid #1977b0;*/
	-webkit-border-radius: 10px 10px 10px 10px;	
	-webkit-box-shadow: 25px 25px 0px #D8742D;
	left: -20px;
}
#email{
	width: 200px;
}
#request_number a{
	color: #ffffff;
}
#information{
	float: left;
	width: 375px;
	height: 250px;
	font-size: 0.6em;
	color: #325c93;
	/*background-color: rgba(250,119,67,0.47);*/
	padding: 0px 5px 5px 5px;
	position: relative;
	top: -15px;
	text-align: left;
	/*border: 3px solid #FA7743;*/
	/*-webkit-border-radius: 10px 10px 10px 10px;*/		
}
#information p.title-p{
	font-size: 1.1em;
	font-weight: bold;
}

.legal{
  position: relative;
  min-height: 400px;
  padding: 1em;
  font-size: 1em;
  text-align: center;
}
.legal p{
  font-size: 0.8em;
  text-align: justify;	
}
.legal p b{
  font-weight: bold;
}

.content form{
  position: inherit;
  font-size: 0.8em;
  text-align:left;
}
.content form input{
  position: inherit;
  text-align:left;
}

hr.footer{
	background-color: #D8742D;
	height: 3px;
	border: 0px;
}
div.footer{
  font-size: 1em;
  line-height: 0.75em;
  padding: 0 10px 5px;
  color: #D8742D;
  text-align:right;
  /*background-color: #1977b0;*/
	/*border: 4px solid #fffeff;*/
 -webkit-border-radius: 10px 10px 10px 10px;	
}
.footer .links{
  text-align: right;
  float: left;
}
.footer a {
  font-size: 0.6em;
  padding-right: 10px;
  color: #FA7743;
  
}
.footer .copyright{
  font-size: 0.7em;
}
.errorExplanation{
	color:  red;
}
.info{
	font-size: 0.8em;
	position: relative;
	text-align: justify;
}
div.error{
	color: #ff1713;
	text-align: left;
	list-style-type: square;
	font-size: .8em;
	list-style-position: inside;
}
#user_phone{
	width: 15em;
}

@media screen and (max-device-width: 480px){
	body{
	  -webkit-text-size-adjust:none;
	}
	.container{
	  text-align: center;
	  margin: 0px;
	}
}
ul{
	text-align: left;
}
li{
	font-size: 0.8em;
}
.price{
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: top;
}
