<div class="info">
    <p> We first need to verify this is you.  We do this by sending a SMS (text) message to your phone.  The message will contain a token (8 characters)  that you will use to authenticate.</p>
    <p class='notice'>By clicking the link below you agree to the SMS charge you will recieve from your carrier</p>
    <a href="/dial/token">Send the token</a> to my phone (<%=current_user.phones.first.friendly_phone_number%>)
</div>