<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"src="/javascripts/twilio.js"></script>
    <script type="text/javascript">
  
    /* Create the Client with a Capability Token */
    Twilio.Device.setup("<%= token %>", {debug: true});
 
    /* Let us know when the client is ready. */
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });
 
    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });
 
    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Disconnected");
        update_time_left();
    });
 
    /* Connect to Twilio when we call this function. */
    function call() {
        Twilio.Device.connect();
    }
    /* A function to end a connection to Twilio. */
    function hangup() {
        Twilio.Device.disconnectAll();
        update_time_left();
    }
    function call() {
        // get the phone number to connect the call to
        params = {"PhoneNumber": $("#number").val()};
        Twilio.Device.connect(params);
      }
    var update_time_left= function(){
        $.getJSON('/dids/<%=dup.id%>',function(data){
                $('#time-left').text(data.time_left);
            });
    }
    </script>


<div id="log">
Waiting.....
</div>
<div id="webdial">
<input id="number" name="number" placeholder="Enter a phone number" maxlength="11"/>
<button class="call" onclick="call();">Call</button>
<button class="hangup" onclick="hangup();">Hangup</button>
<p><span class="pipes-orange"> You currently have <span id="time-left"><%=(dup.time_left)%></span> left on your pipes number</span></p>
</div>


