<html>
<head>
  <style>
    p {
      font-size: 1em;
    },
    .note{
      font-size: 0.8em;
    }
    span.number {
      font-weight: 'bold';
    }
  </style>
</head>
<body>
  <p> Greetings!</p>
  <p> Your existing Pipes number is <span="number"><%=@did.phone_number%></span></p>
  <p class="note">If you have any questions please feel free to contact us.</p>
</body>
</html>