<html>
<head>
  <style>
    p {
      font-size: 1em;
    },
    .note{
      font-size: 1em;
    }
    span.number {
      font-weight: 'bold';
    }
  </style>
</head>
<body>
  <p> Greetings!</p>
  <p>You had a recent call from <span class="number"><%=@call_queue.caller.to_phone_number%> to your expired Pipes Number</p>
  <p> The call lasted <%=@call_queue.formatted_call_time%></p>
  <p> If you'd like to re-up your Pipes Number please click <%=link_to 'here', existing_url(@dup)%></p>
  <p class="note">If you have any questions please feel free to contact us.<br>
    To no longer receive these messages, pleas click here to change your settings <%=link_to 'Email settings', settings_users_url(token: @token)%>
  </p>
</body>
</html>