<html>
<head>
  <style>
    p {
      font-size: 1em;
    },
    .note{
      font-size: 0.8em;
    }
    span.number {
      font-weight: 'bold';
    }
  </style>
</head>
<body>
  <p> Thank You!</p>
  <p> Your order has been processed, your Pipes number is <span="number"><%=@did.phone_number%></span></p>
  <p class="note">Remember you have 20 minutes total talk time for a total of 3 weeks</p>
</body>
</html>