  <p>Hello!</p>
  <p>Below you will find a link that you click on when reading this on your iPhone.  It will set the authentication for use with your pipes number.</p>
  <a href="pipes://token?t=<%=@user.activation_code%>">Auth link (iPhone only)</a>
  <p> If you are unable to click on the link above copy the token below and enter in the token field</p>
  <%=@user.activation_code%>
  