<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width = 320,
       initial-scale = 0.8, user-scalable = no">
<title>Pipes</title>
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "main" %>
</head>
<div class="title">Pipes ]==[</div>
<div class="content">
<%=render(partial: 'shared/messages')%>
<%=yield%>
</div>
<div class="footer">pipes.io copyright 2010</div>
</html>