<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width = device-width,
       initial-scale = 0.8, user-scalable = no">
<title>Pipes</title>
<link rel="stylesheet" href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/www.pipes.io/1657.css" type="text/css" />
<link rel="stylesheet" href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/pipes.io/1657.css" type="text/css" />
<%=stylesheet_link_tag 'main'%>
</head>
<body>
<div class="container">
  <a href="/"><img id="logo" src="/images/pipes.svg"></a>
  <h3 id="tagline">temporary numbers for temporary connections</h3>
  <div class="content">
    <%=render(partial: 'shared/messages')%>
    <%=yield%>

  </div>
  <hr class="footer">
  <div class="footer"><div class="links"><a href="/about">About</a><a href="/disclaimer.html">Disclaimer</a><a href="/contact.html">Contact</a></div><span class="copyright">pipes, Inc. copyright 2011</span></div>
</div>
</body>
</html>