<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width = device-width,
       initial-scale = 0.8, user-scalable = no">
<title>Pipes</title>
<link rel="apple-touch-icon" href="/images/iphone_pipes_icon.png"/>
<script type="text/javascript">
WebFontConfig = { fontdeck: { id: '1657' } };

(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();
</script>
<%=stylesheet_link_tag 'main'%>
</head>
<body>
<div class="container">
  
  <a href="/">
    <img id="logo" src="/images/pipes.svg"></a>
  <div id="tagline">temporary numbers<br>for temporary connections</div>
  <div class="content">
    <%=render(partial: 'shared/messages')%>
    <%=yield%>

  </div>
  <hr class="footer">
  <div class="footer"><div class="links"><a href="/about">About</a><a href="/disclaimer.html">Disclaimer</a><a href="/contact.html">Contact</a></div><span class="copyright">pipes, Inc. copyright 2013</span></div>
</div>
</body>
</html>