<html>
<head>
  <link rel="stylesheet" href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/www.pipes.io/1657.css" type="text/css" />
  <link rel="stylesheet" href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/pipes.io/1657.css" type="text/css" />
  
  <style>
    
    p {
      font-size: 0.9em;
    },
    .note{
      font-size: 0.8em;
    }
    span.number {
      font-weight: 'bold';
    }
    #logo{
      position: relative;
      width: 275px;
      left: -15px;
    }
    #tagline{
      font-size: 0.60em;
      position: relative;
      left: 285px;
      top: -65px;
    }
    body { 
      font-size: 1.5em;
      font-family: arial;
      color: #325c93;
    }
    span.pipes-orange{
      color: #D8742D;
    }
    
  </style>
</head>
<body>
  <a href="http://pipes.io"><img id="logo" src="http://pipes.io/images/pipes.svg"></a>
  <div id="tagline">temporary numbers<br>for temporary connections</div>
  <%=yield%>
    <p class="note">If you have any questions please feel free to <a href="pipes.io/contact.html">contact us</a>.</p>
</body>
</html>